
@font-face {
  font-family: BangkokBank-Black;      
  src: url('../fonts/bangkokbank-black-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Muli-Regular;      
  src: url('../fonts/muli-regular-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: BangkokBank-Regular;      
  src: url('../fonts/bangkokbank-regular-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "BangkokBank-Medium";      
  src: url('../fonts/bangkokbank-medium-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: BangkokBank-Bold;      
  src: url('../fonts/bangkokbank-bold-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Muli-Bold;      
  src: url('../fonts/muli-bold-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: icomoon;      
  src: url('../fonts/icomoon-300-normal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: BangkokBank-Light;      
  src: url('../fonts/bangkokbank-light-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: BangkokBank_Text-Medium;      
  src: url('../fonts/bangkokbank-text-medium-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
